{% extends "admin/base_site.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download {{ SITE_NAME }} Data</title>
</head>
<body>          </body>
</html>

{% load i18n admin_static bootstrap %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}

<ol class="breadcrumb">
    <li class="home">
        <a href="{% url 'index' %}" title="Home"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
        <a href="/SupremeApp/" title="SupremeApp">{% if SITE_NAME %}{{ SITE_NAME }}{% endif %}</a>
    </li>
    <li class="active">Data Download</li>
</ol>
{% endblock %}

{% block content %}
    <style>
        body {
            padding-top: 0px !important;
        }
    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    </style>
    <div id="content-main">
        {% if form %}
            <form action="/SupremeApp/download/" method="post" id="download_form">
                {% csrf_token %}
                <div class="col-sm-9 form-fields">
                    <div class="panel panel-default form-panel">
                        <a href="#" class="form-expand">
                            <span class="glyphicon glyphicon-resize-horizontal "></span>
                        </a>
                        <div class="panel-body">
                            <div class="row">
                            {{ form|bootstrap_horizontal }}
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 form-buttons">
                    <div data-spy="affix" data-offset-top="125">
                        <div class="submit-row list-group">
                            <button type="submit" title="Save" class="list-group-item active" name="_save">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                <span class="text">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
