{% extends "admin/base_site.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload {{ SITE_NAME }} Data</title>
</head>
<body>

</body>
{% load i18n admin_static bootstrap %}
{% load cycle from future %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}

    <ol class="breadcrumb">
        <li class="home">
            <a href="{% url 'index' %}" title="Home"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li>
            <a href="/SupremeApp/" title="SupremeApp">{% if SITE_NAME %}{{ SITE_NAME }}{% endif %}</a>
        </li>
        <li class="active">Data File Upload</li>
    </ol>
{% endblock %}

{% block content %}

    <style>
        body {
            padding-top: 0px !important;
        }

        .row {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        #id_file {
            padding: 0px 12px !important;
            border: none;
            background-color: transparent;
            box-shadow: none;
        }
    </style>
    <div id="content-main">
        {% if form %}
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                <div class="col-sm-9 form-fields">
                    <div class="panel panel-default form-panel">
                        <a href="#" class="form-expand">
                            <span class="glyphicon glyphicon-resize-horizontal "></span>
                        </a>
                        <div class="panel-body">
                            <div class="row">
                                {{ form|bootstrap_horizontal }}
                                <div class="form-group row">
                                    <label class="control-label col-sm-2 col-lg-2 "></label>
                                    <div class=" col-sm-10 col-lg-10 ">
                                        <input name="sheet_no_text" value="100" id="id_sheet_no_text"
                                               class="form-control" type="text" readonly="">
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#id_speed").change(function () {
                                            $('#id_sheet_no_text').val(this.value);
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 form-buttons">
                    <div data-spy="affix" data-offset-top="125">
                        <div class="submit-row list-group">
                            <button type="submit" title="Save" class="list-group-item active" name="_save">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                <span class="text">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
        <div class="results table-responsive" style="clear: both;">
            <table id="result_list" class="table table-striped">
                  <thead>
                        <tr>
                            <th>Generate Report?</th>
                            <th>File Name</th>
                            <th>Sheet No</th>
                            <th>Based On</th>
                            <th>Speed</th>
                            <th>User</th>
                            <th>Uploaded Date</th>
                        </tr>
                  </thead>
                  <tbody>
                    {% if results|length == 0 %}
                            <tr><td colspan="7" style="text-align: center">No Upload history found.</td></tr>
                    {% endif %}
                    {% for result in results %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td>
                                {% if result.generate_new_report %}
                                    <img src="/static/admin/img/icon-yes.gif" alt="True">
                                {% else %}
                                    <img src="/static/admin/img/icon-no.gif" alt="False">
                                {% endif %}
                            </td>
                            <td>{{ result.file_name }}</td>
                            <td>{{ result.sheet_no }}</td>
                            <td>{{ result.based_on }}</td>
                            <td>{{ result.speed }}</td>
                            <td>{{ result.user }}</td>
                            <td>{{ result.uploaded_date }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
  <script>
    (function ($) {
      $(document).ready(function(){
        $('.vManyToManyRawIdAdminField, .vForeignKeyRawIdAdminField').addClass('form-control');
        $('.form-row input[type="checkbox"]').closest('li')
                                             .addClass('checkbox');
        $('.radiolist li').addClass('radio');

        $('.form-expand').on('click', function () {
          $form_fields = $('.form-fields');
          $form_buttons = $('.form-buttons');
          if ($form_fields.hasClass('expanded')) {
            // contract form
            $form_fields.removeClass('col-sm-11 expanded')
                        .addClass('col-sm-9');
            $form_buttons.removeClass('col-sm-1 contracted')
                         .addClass('col-sm-3');
            $form_buttons.find('.object-tools')
                         .removeClass('btn-group-vertical')
                         .addClass('btn-group btn-group-justified');
          } else {
            // expand form
            $form_fields.removeClass('col-sm-9')
                        .addClass('col-sm-11 expanded');
            $form_buttons.removeClass('col-sm-3')
                         .addClass('col-sm-1 contracted');
            $form_buttons.find('.object-tools')
                         .addClass('btn-group-vertical')
                         .removeClass('btn-group btn-group-justified');
          }
        });
      });
    })(django.jQuery);
  </script>
{% endblock js %}

</html>