{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrap_admin_template_tags %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}"/>{% endblock %}

{% block branding %}
    <h1 id="site-name" style="text-align: center"><a
            href="{% url 'custom_admin:index' %}">{{ site_header|default:_('Supreme') }}</a></h1>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <style>
        #login-form {
            width: 210px !important;
        }

        body {
            padding-top: 0px !important;
        }

        #content-main {
            margin-top: 120px;
        }
    </style>
    <div id="content-main">
        <div class="login-container">
            <div id="login-form">
            {% if user.is_superuser %}
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-block btn-lg" onclick="window.location='/admin/';">
                      Admin
                  </button>
                </span>
                <br/>
             {% else %}
                <script>
                    window.location = '/SupremeApp/data/';
                </script>
            {% endif %}
            <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-block btn-lg"
                          onclick="window.location='/SupremeApp/';">{{ SITE_NAME }}
                  </button>
            </span>
            </div>
        </div>
    </div>
{% endblock %}


